/* You can add global styles to this file, and also import other style files */

.product-details .card-footer {
    display: block!important;
}

.red-color {
    color: red;
}

.green-color {
    color: green;
}