<amexio-nav [enable-side-nav-position]="false" [title]="'Shopping cart'" [logo]="'assets/product.png'">
    <amexio-nav-item position-right [type]="'link'" [title]="'Add Product'" [icon]="'fa fa-plus fa-lg'" (onNavItemClick)="addProduct()">
    </amexio-nav-item>
    <amexio-nav-item position-right [type]="'link'" [title]="'Catlog'" [icon]="'fa fa fa-tasks fa-lg'" (onNavItemClick)="productCatlog()">
    </amexio-nav-item>
    <amexio-nav-item position-right [type]="'link'" [title]="'My Cart'" [icon]="'fa fa-shopping-cart fa-lg'" (onNavItemClick)="myCart()">
    </amexio-nav-item>
    <amexio-nav-item position-right [type]="'link'" [title]="'My Order'" [icon]="'fa fa-first-order fa-lg'" (onNavItemClick)="myOrder()">
    </amexio-nav-item>

    <amexio-nav-item position-right [type]="'link'" [title]="'Logout'" [icon]="'fa fa-sign-out fa-lg'" (onNavItemClick)="logout()">
    </amexio-nav-item>
</amexio-nav>
<br/><br/><br/><br/>
<amexio-row>
    <amexio-column [size]=12>
        <router-outlet></router-outlet>
    </amexio-column>
</amexio-row>