{{msg}}
<br/>

<amexio-card [header]="true">
    <amexio-header>
        Orders
    </amexio-header>
    <amexio-body>
        <amexio-row>
            <amexio-column [size] =3 >
                Order Ref     
            </amexio-column>
            <amexio-column [size] =3 >
                Order Date
            </amexio-column>
            <amexio-column [size] =3 >
                Total
            </amexio-column>
            <amexio-column [size] =3 >
                Status
            </amexio-column>
        </amexio-row>
        <amexio-row *ngFor="let node of data">
            <amexio-column [size] =3 >
                {{node.id}}
            </amexio-column>
            <amexio-column [size] =3 >
                {{node.date}}
            </amexio-column>
            <amexio-column [size] =3 >
                {{node.total}}
            </amexio-column>
            <amexio-column [size] =3 >
                {{node.status}}
            </amexio-column>
        </amexio-row>
    </amexio-body>
    <amexio-action>
        footer
    </amexio-action>
</amexio-card>
